.footer-control {
    background-color: #000000;
    color: white;
    
}

.footer {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer p {
    margin: 0px;
    letter-spacing: 3px;
}

.footer div svg {
    margin-left: 20px;
}

.hidden {
    color: "white";
    font-size: 0px;
}

@media (min-width: 767px) {
    .hidden {
        color: "white";
        font-size: 15px;
    }

}